################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DifDrive/.vs/DifDrive
/DifDrive/x64/Debug
/DifDrive/x64/Release
/DifDrive/ExternalDependancies
/DifDrive/logData
